.env
.env.*
.git
.gitattributes
.gitignore
.idea
.phpunit.result.cache
.vscode
Dockerfile
Procfile
README.md
docker-compose.yml
node_modules
npm-debug.log
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
tests
tmp
vendor
